<h2 style="color: black; display: flex; align-items: center; justify-content: space-between;">
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true" focusable="false" class="svg-inline--fa fa-shield-check fa-fw" viewBox="0 0 512 512" style="width: 24px; height: 24px; margin-right: 8px;">
            <path fill="currentColor" d="M269.4 2.9C265.2 1 260.7 0 256 0s-9.2 1-13.4 2.9L54.3 82.8c-22 9.3-38.4 31-38.3 57.2c.5 99.2 41.3 280.7 213.6 363.2c16.7 8 36.1 8 52.8 0C454.7 420.7 495.5 239.2 496 140c.1-26.2-16.3-47.9-38.3-57.2L269.4 2.9zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path>
        </svg>
        Assurance annulation
    </span>
    <button id="closePopup" style="background: none; border: none; font-size: 24px; cursor: pointer;">&times;</button>
</h2>
<p>Réservez l’esprit tranquille : annulez à tout moment et bénéficiez d’un remboursement total jusqu’au jour de votre réservation</p>
<div id="coverageDetails">
    <h4>Ce qui est couvert</h4>
    <ul class="june-care-benefits">
        <li><svg style="width: auto; height: 1em;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g id="check_x5F_alt"> <path style="fill:currentColor;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383 L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"></path> </g> </g> </g></svg><span> Rachat de franchise pour les bris de glaces laterales et arrieeres</span></li>
        <li><svg style="width: auto; height: 1em;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g id="check_x5F_alt"> <path style="fill:currentColor;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383 L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"></path> </g> </g> </g></svg><span> Vos biens personnels (ordinateurs, sacs, appareilsphoto, etc.) sont couverts en cas de vol</span></li>
        <li><svg style="width: auto; height: 1em;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g id="check_x5F_alt"> <path style="fill:currentColor;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383 L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"></path> </g> </g> </g></svg><span> Jusqu'a 2000 d'indemnisation par sinistre</span></li>
    </ul>
</div>
<div id="eventDetails" style="display: none;">
    <p class="june-care-input-container"><strong>Nom :</strong> <input type="text" id="nameInput" value="${eventInfo.name || 'Non trouvé'}" class="june-care-input june-care-readonly" readonly></p>
    <p class="june-care-input-container"><strong>Date :</strong> <input type="text" id="dateInput" value="${eventInfo.date || 'Non trouvé'}" class="june-care-input june-care-readonly" readonly></p>
    <p class="june-care-input-container"><strong>Lieu :</strong> <input type="text" id="placeInput" value="${eventInfo.place || 'Non trouvé'}" class="june-care-input june-care-readonly" readonly></p>
    <p class="june-care-input-container"><strong>Nombre de billets :</strong> <input type="text" id="ticketsInput" value="${eventInfo.numberOfTickets || 'Non trouvé'}" class="june-care-input june-care-readonly" readonly></p>
    <p class="june-care-input-container"><strong>Prix final :</strong> <input type="text" id="priceInput" value="${eventInfo.finalPrice * 8 / 100 || 'Non trouvé'} €" class="june-care-input june-care-readonly" readonly></p>
    <p class="june-care-input-container"><strong>Email :</strong> <input type="text" id="emailInput" value="${eventInfo.email || ''}" class="june-care-input"></p>
    <p class="june-care-input-container"><strong>Prénom :</strong> <input type="text" id="firstNameInput" value="${eventInfo.firstName || ''}" class="june-care-input"></p>
    <p class="june-care-input-container"><strong>Nom de famille :</strong> <input type="text" id="lastNameInput" value="${eventInfo.lastName || ''}" class="june-care-input"></p>
    <p>
        <input type="checkbox" id="assurance" name="assurance">
        En sélectionnant cette assurance, je confirme être résident de l’Union Européenne et déclare avoir pris connaissance, puis accepter le
        <a href="https://igorpotard.github.io/conditions-generales.pdf" style="color: blue; text-decoration: underline;" target="_blank">conditions générales</a>
        et le
        <a href="https://igorpotard.github.io/document-informations.pdf" style="color: blue; text-decoration: underline;" target="_blank">document d'information</a>.
    </p>
</div>
<style>
 .june-care-input-container {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 }

 .june-care-input-container strong {
     flex: 0 0 150px;
 }

 .june-care-input {
     flex: 1;
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

 .june-care-readonly {
     background-color: #f0f0f0;
     color: #888;
 }

 .june-care-benefits {
     list-style-type: none;
     padding-inline-start: 0px;
 }

 .june-care-benefits > li {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 4px;
     color:black;
 }

 .june-care-benefits > li > span {
     margin-left: 8px;
 }

 .june-care-benefits > li > svg {
     flex-shrink: 0;
     color:#0079CA;
 }
</style>
